<div class="search">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="textSearch" />
</div>

<div class="people">

    <div class="person" *ngFor="let group of groups| groupFilter:textSearch" [attr.data-chat]="group.id"
    (click)="ifChangeingGroupEvent.emit(group)"
    >
        <div class="user-info">
            <div class="f-head">
                <img [src]="env.apiUrl+group.image" alt="avatar">
            </div>
            <div class="f-body">
                <div class="meta-info">
                    <span class="user-name" data-name="Nia Hillyer"
                        [innerHtml]="user.resources[group.resourcesKey]"></span>
                </div>
                <span class="preview" [innerHtml]="group.lastMessage"></span>
            </div>
        </div>
    </div>
</div>