<!--  BEGIN NAVBAR  -->
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm expand-header">
        <ul class="navbar-item flex-row ml-auto">
            <li class="nav-item dropdown language-dropdown">
                <app-change-language></app-change-language>
            </li>

            <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
            <app-logged-user></app-logged-user>
            </li>
        </ul>
    </header>
</div>
<!--  END NAVBAR  -->